$main-background:#D8E9A8;

body {
    padding: 0%;
    margin: 0%;
    background-color: $main-background;
}
span {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
}